.about-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: Roboto, Arial, sans-serif;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: inline-flex;
}

.label {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

.label-bold {
  font-family: Roboto-Bold, Arial, sans-serif;
  font-size: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.link {
  cursor: pointer;
  color: #b3541e;
  text-decoration: underline;
  text-underline-offset: 2px;
}

ul {
  margin: 0;
}
