@media (min-width: 540px) {
  .container {
    max-width: 50%;
    margin: 5% auto;
  }
}

@media (max-width: 540px) {
  .container {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 64px;
  }
}
